body {
  color: white;
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 0;
}

#root {
  position: relative;
  z-index: 10;
}

button {
  margin: 10px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
@-ms-keyframes move-clouds-back {
  from {
    background-position: 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  display: block;
}

.stars,
.twinkling {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: auto;
height: 2000px;
display: block;
}

.twinkling {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: 1;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top
    center;
  z-index: 3;

  -moz-animation: move-clouds-back 200s linear infinite;
  -ms-animation: move-clouds-back 200s linear infinite;
  -o-animation: move-clouds-back 200s linear infinite;
  -webkit-animation: move-clouds-back 200s linear infinite;
  animation: move-clouds-back 200s linear infinite;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 10;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.get-fortune-btn {
  background: none;
  background-image: radial-gradient(#CBAB60, #3F3A26);
  border: 3px solid linear-gradient(#3F3A26, #CBAB60);
  box-shadow: 0 0 8px silver;
  margin: 60px;
  color: #3F3A26;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 1.2rem;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.crystal-ball {
  height: 450px;
  width: 450px;
  border-radius: 50%;
  background-image: radial-gradient(blue, transparent);
  border: 3px solid linear-gradient(blue, lightblue);
  box-shadow: 0px 0px 8px blue; 
  margin-top: 30px;
}

.crystal-ball:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

.flicker {
  animation-name: flicker;
  animation-duration: 3s;
  animation-iteration-count: 2;
}

@keyframes flicker {
   0% {
    opacity: 0.3;
  }
  
  1% {
    opacity: 0.9;
  }
  
  5% {
    opacity: 1;
  }
  
  7% {
    opacity: 0.5;
  }
  
  15% {
    opacity: 1;
  }
  
  16% {
    opacity: 0.3;
  }
  
  20% {
    opacity: 0.9;
  }
  
  22% {
    opacity: 0.7;
  }
  
  30% {
    opacity: 1;
  }
  
  35% {
    opacity: 1;
  }
  
  50% {
    opacity: 0.4;
  }
  
  60% {
    opacity: 1;
  }
  
  64% {
    opacity: 1;
  }
  
  70% {
    opacity: 0.5;
  }
  
  85% {
    opacity: 0.3;
  }
  
  100% {
    opacity: 1;
  }
}

.fortune {
  z-index: 1000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  opacity: 0;
  font-size: 1.5rem;
  text-align: center;
  margin: 20px;
}

.reveal {
  animation-name: fortune;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fortune {
  from {
    opacity: 0; 
    filter: blur(5px); 
  }
  to{ 
    opacity: 1; 
    filter: blur(0px);
  }
}

@media (max-width: 600px){
  .crystal-ball{
    height: 300px;
    width: 300px;
  }
  
  .fortune {
    font-size: 1rem;
  }
 
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.auth-buttons {
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.btn {
  margin-right: 10px;
}

.form {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  display: none;
}

.form h2 {
  margin-top: 0;
}

.form label {
  display: block;
  margin-bottom: 10px;
}

.form input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
}

.form button {
  margin-top: 10px;
}
